<form name="fieldsForm" ng-submit="sendData(fields)">

    <span ng-repeat="field in fields track by $index">
        <b> {{ field.name }}: </b>
        <input type="text" name="field_{{ $index }}" ng-model="field.value"
        ng-required="field.require" placeholder="{{ field.name }}">
        <b ng-show="field.require && fieldsForm.field_{{ $index }}.$dirty &&
        fieldsForm.field_{{ $index }}.$invalid">
            This field is required
        </b>
        <hr>
    </span>
    <button type="submit" ng-disabled="!fieldsForm.$valid">{{ submitButtonText }}</button>
</form>

<hr>
