<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Something happen</title>
    </head>
    <body>
        <h2><%= errName %></h2>
        <h4><%= errMessage %></h4>
    </body>
</html>
